<div class="container-fluid">

	<div class="jumbotron">
		<h1>A pomodoro timer for Trello.</h1>
	</div>

	<ol>
		<li>
			Log in to <a href="https://trello.com" target="_blank">Trello</a>.
		</li>
		<li>
			Authorize Pomello to access your cards.
		</li>
		<li>
			Select a card to work on, write down your task and hit "Work".
		</li>
		<li>
			Work.  Add any extra notes about what you worked on.  Things that came up that'll help you keep oriented later.
		</li>
		<li>
			When the timer stops, or when you hit "Stop", a comment will be added to the card, logging your pomodoro.
		</li>
		<li>
			Profit.
		</li>
	</ol>
</div>